* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 10px;
}

ul {
    list-style: none;
}

:root {
    --background-color: #323232;
    --color: red;
    --padding: var(--background-color);
    --margin: var(--margin);
    --duration-time: var(--background-color);
}

nav {}