@media (min-width:640px) {
    .conatiner {
        max-width: 640px;
    }
}

@media (min-width:768px) {
    .conatiner {
        max-width: 768px;
    }

    /* .nav_link ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    a {
        text-decoration: none;
    } */

}

@media (min-width:1024px) {
    .conatiner {
        max-width: 1024px;
    }
}